*{
    background-color: #202020;
    margin: 0;
    -ms-overflow-style: none;
    width: 100%;
    font-family: 'PT Serif', serif;
    
}
::-webkit-scrollbar{
    display: none;
}
header{
    position: sticky;
    z-index: 1;
    
}
#navBar{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #121212;
    height: 6rem;
    
    
}
#navBar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    font-size: 2em;
    position: relative;
    top:1.6rem;
    width: 25%;
    right: -63%;
    gap: 2rem;
}
a,li {
    text-decoration: none;
    color: white;
    background-color: transparent;
    display: flex;
    
    
}
#logo{
    background-color: transparent;
    display: flex;
    position: relative;
    left:2% ;
    top:15%;
    float: left;
    width:150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.616);
}
h2{
    background-color: transparent;
    color: white;
    position: absolute;
    left: 12%;
    top: 30%;
    cursor: pointer;
    width: fit-content;
}
main{
    margin: 0;
}
span{
    color: rgb(156, 0, 0);
    background-color: transparent;
    text-shadow:0px 0px 6px black ;
}
.titleContent{
    display:block;
    position: relative;
}
video{
    width: 100%;
    
    filter: blur(1px) brightness(30%);
    z-index: -1;
  
    
}
.titleText{
    text-align: center;
    color: rgba(231, 231, 231, 0.938);
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: transparent;
    font-size: 3rem;
    text-shadow:2px 2px 5px  #000000;
 
}


#hr1{
    position: absolute;
    top: 30%;
    width: 55%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hr2{
    position: absolute;
    top: 50%;
    width: 25%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}