*{
    background-color: #202020;
    margin: 0;
    -ms-overflow-style: none;
    width: 100%;
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar{
    display: none;
}

.titleContent{
    display:block;
    position: relative;
}
video{
    width: 100%;
    filter: blur(1px) brightness(30%);
    z-index: -1;
  
    
}
.titleText h1{
    text-align: center;
    color: rgba(231, 231, 231, 0.925);
    display: flex;
    position: absolute;
    top: 20vw;
    left: 50%;
    transform: translate(-50%,0);
    background-color: transparent;
    font-size: 5vw;
    text-shadow:2px 0px 20px  #000000d7;
    border-top: solid rgb(255, 255, 255) 1px;
    border-width: 2px;
    padding-top: 1.5vw;
    width: fit-content;
    word-spacing: .05em;
    letter-spacing: .05em;
    cursor: default;
    font-family: 'Libre Baskerville', serif;
}
.titleText h2{
    text-align: center;
    color: rgba(231, 231, 231, 0.925);
    display: flex;
    position: absolute;
    top: 35vw;
    left: 50%;
    transform: translate(-50%,0);
    background-color: transparent;
    font-size: 2vw;
    text-shadow:2px 6px 15px  #000000;
    border: solid rgb(255, 255, 255) 1px;
    padding: 1vw;
    border-width: 2px;
    width: fit-content;
    word-spacing: .15em;
    letter-spacing: .1em;
    cursor: default;
}
.arrow{
    width: 3vw;
    position:absolute;
    background-color: transparent;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 6vw;
    transition: ease-out .3s;
    animation-name: floatt;
    animation-duration: 2s;
    animation: floatt 2s ease-in-out 1s infinite alternate-reverse;
}
.arrow:hover{
    width: 4vw;
}
@keyframes floatt {
    0%{
        transform: translate(-50%,0%);
    }
    100%{
        transform: translate(-50%,-60%);        
    }
}
.gridContain{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 2vw;
    width: 90vw;
    height: 300px;
    text-align: center;
    color: rgba(255, 217, 0, 0.849);
    text-shadow: 0px 0px 5px, rgba(255, 0, 0, 0.397) 0px 0px 9px   ;
    
}
.gridContent{
    background-color: #121212;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    margin: 0;
    height: 85%;
    color: white;
    width: auto;
    overflow: hidden;
    
}
.gridContent > * {
    background-color: transparent;
    text-shadow: rgba(85, 85, 85, 0.664) 0px 0px 3px;
    
    
}
.gridContent > hr{
    width: 50%;
    margin:1vh;
    background-color: transparent;
    
}
h3{
    font-size: large;
}
.gridContent ul {
    list-style: none;
    text-align: left;
    width: fit-content;
    font-size: small;
    text-shadow: #121212 0px 0px 8px;
    padding-left: 0;
    

}
.gridContent > p{
    text-shadow: none;
    font-size: small;
    color: rgb(255, 217, 0);
    background-color: transparent;
    
}
span{
    color: green;
    width: fit-content;
    background-color: transparent;
}
.menuBtn{
    display: none;
}