*{
    background-color: #202020;
    margin: 0;
    -ms-overflow-style: none;
    width: 100%;
    font-family: 'PT Serif', serif;
    
}
::-webkit-scrollbar{
    display: none;
}

.titleContent{
    display:block;
    position: relative;
}
video{
    width: 100%;
    
    filter: blur(1px) brightness(30%);
    z-index: -1;
  
    
}
.titleText{
    text-align: center;
    color: rgba(231, 231, 231, 0.938);
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: transparent;
    font-size: 3rem;
    text-shadow:2px 2px 5px  #000000;
 
}


#hr1{
    position: absolute;
    top: 30%;
    width: 55%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hr2{
    position: absolute;
    top: 50%;
    width: 25%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}