*{
    background-color: #202020;
    margin: 0;
    -ms-overflow-style: none;
    width: 100%;
    font-family: 'PT Serif', serif;
    
}
header{
    position: fixed;
    z-index: 1;
    
}
#navBar{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #121212;
    height: 6rem;
    
    
    
}
#navBar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    font-size: 2em;
    position: relative;
    top:1.6rem;
    width: 25%;
    right: -69%;
    gap: 3rem;
   
}
a,li {
    text-decoration: none;
    color: white;
    background-color: transparent;
    display: flex;
    height: fit-content;
    transition: ease .3s;
    width: fit-content;
    
}
a:hover{
    text-decoration: none;
    transition: ease .5s;
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.205);
    
    
}
.selected{
    color: rgb(151, 0, 0);
    border: .1px solid rgba(255, 255, 255, 0.651);
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 2px;
    padding: 1px;
    width: fit-content;
}
#logo{
    background-color: transparent;
    display: flex;
    position: relative;
    left:2% ;
    top:15%;
    float: left;
    width:150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.616);
}
h2{
    background-color: transparent;
    color: white;
    position: relative;
    right: 20vw;
    top: 33%;
    cursor: pointer;
    width: fit-content;
}
main{
    margin: 0;
}
.mobileMenu{
    display: none;
}
.mobileHome{
    display: none;
}
@media only screen and (max-width:768px){
    
    header,#navbar{
        display: flex;
        position: fixed;
        bottom: 0;
    }
    #navbar ul{
        display: none;
    }
    
    h2 a,h2{
        color:rgb(255, 255, 255);
        font-size: large;
        height: fit-content;
        position: relative;
        left:1.5em ;
        top: 1.1em;

       
        
    }
    .mobileMenu{
        display: flex;
        position: absolute;
        left: 90%;
        font-size: 2.5rem;
        top: 2.5vw;
        word-spacing: 1rem;
    
    }
    .mobileHome{
        display: flex;
        position: absolute;
        left: 70%;
        font-size: 2rem;
        top: 3.5vw;
        word-spacing: 1rem;
    
    }
   
   

}
footer{
    background-color: #121212;
    text-align: center;
    color: white;
    height: 1rem;
    font-size: xx-small;
    padding:5px;
    
}